<% if flash.any? %>
    <% flash.each do |key, message| %>
    <div class="alert alert-<%= key %>">
      <a href="#" class="close" data-dismiss="alert">&#215;</a>
      <ul>
        <li><%= message %></li>
      </ul>
    </div>
    <% end %>
<% end %>