#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  
  &:hover{
    color: #efefef;
    text-decoration: none;
  }
}

.navigation{
  .navbar-default{
    border-radius: 0px;
    
    .navbar-nav > li > a {
      color: white;
    } 
  }
}